body {
    text-align: center;
}

#page {
    width: 960px;
    text-align: left;
    margin: 10px auto 20px auto;
    background-color: #0C0C0C;
}

#sidebar {
    float: left;
    width: 200px;
    border: 1px solid #000;
}

#content {
    float: left;
    width: 600px;
    border: 1px solid #F00;
    padding: 10px;
}