{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block title %}
            <title>GTC</title>
            <h1>Guitar Tension Calculator</h1>
        {% endblock %}
            <link rel="stylesheet" type="text/css" href="{% static "assets/css/default.css" %}">
    </head>
    <body>
        <div id="page">
            <div id="sidebar">
                {% block login %}
                    {% if is_logged_in %}
                        <li>Hello, {{ username }}</li>
                        <li><a href="/accounts/logout/">Logout</a></li>
                    {% else %}
                        <li><a href="/accounts/register/">Register New User</a></li>
                        <li><a href="/accounts/login/">Login</a></li>
                    {% endif %}
                {% endblock %}

                {% block sidebar %}
                    <ul>

                        <li><a href="/calculate/">Calculate Tension</a></li>
                        <li><a href="/admin/">Admin Panel</a></li>

                    </ul>
                {% endblock %}
            </div>
            <div id="content">
                {% block content %}
                    This is the content area
                {% endblock %}
            </div>
        </div>
    </body>
</html>